/.quarto/
/_site/
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/.xtboptok
posts/post-with-code/2021-01-25-cod-and-torsion-angles/out.sdf
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/charges
.gitignore
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/wbo
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/xtbopt.log
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/xtbopt.sdf
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/xtbrestart
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/xtbtopo.sdf
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/sdf
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/obabelmol.sdf
posts/post-with-code/2021-02-16-torsion-angle-scans-xtb/mol.sdf
